table {
	width: 100%;
}

table thead tr th {
	padding: 3px 12px !important;
	color: var(--dark-primary);
	font-size: 14px;
	font-weight: 500;
	text-align: start;
	background-color: var(--dark-shadow);
	border-top: 1px solid rgb(200, 200, 200);
	border-bottom: 2px solid rgb(200, 200, 200) !important;
}
table tbody tr:nth-child(even) {
	background: var(--dark-shadow);
}
table tbody tr#row:hover {
	cursor: pointer !important;
}
table td {
	padding: 0.17em 10px !important;
	color: var(--dark-primary) !important;
	font-size: var(--small) !important;
	text-align: start;
	vertical-align: auto;
}
table td img {
	width: 30px;
	height: 30px;
	border-radius: 2px;
}